ul{
    color: inherit;
}
.item{
    color: inherit;
    transition: 0.2s linear;
}

.item:hover{
    font-size: xx-large;
    transition: 0.5s linear;
    cursor: pointer;
}

.list{
    background-color: var(--second-color);
    scale: 1;
    transition: 0.1s linear;
}

.option:hover{
    cursor: pointer;
    background-color: var(--btn-color);
    color: aliceblue;
}

.not-show{
    scale: 0;
}